*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.fone {
    background-color: #3f5169;
    text-align: center;
    text-decoration-line: none;
    padding: 15px 0px;
}
a{
    color: white;
    font-size: 15px;
    text-decoration-line: none;
}

.main {
    height: 470px;
    background-color: #232F3E;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.ftone {
    font-weight: 900;
    line-height: 50px;
    padding-top: 20px;
}

.ftone ul {
    list-style-type: none;
}
.ftone li{
    line-height: 35px;
    font-weight: 200;
}

.fttwo {
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232F3E;
    list-style-type: none;
}
#f1 img{
    box-sizing: content-box;
    width: 100px;
    height: 30px;
    padding-right: 60px;
}
#f2 {
    margin: 0px 4px 0px 0px;
}
#f2 a{
    padding: 6px 18px 6px 8px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.last {
    background-color: #131a22;
    color: white;
    text-align: center;
}